<ul id="box_paciente" class="collapsible " data-collapsible="accordion">
    <li class="z-depth-2">
        <div class="collapsible-header light-primary-color flow-text active">Extrato</div>
        <div class="collapsible-body">
            <div class="card grey lighten-4">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 m6">

                        <div class="col s12 m12">
                            <button class="btn btn-large right waves-effect wizard" ng-click="gerar_relatorio()" >
                                Gerar extrato
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </li>
    <li class="z-depth-2">
        <div class="card lighten-4">
             Receitas
        <table class="centered striped ">
            <thead>
              <tr>
                  <th data-field="id">Data</th>
                  <th data-field="name">Descrição</th>
                  <th data-field="price">Valor</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat=" item in resultado_receita">
                    <td>{{item.realizacao}}</td>
                    <td>{{item.descricao}}</td>
                    <td>{{item.valor}}</td>
                </tr>
            </tbody>
      </table>
        </div>
    </li>
        <li class="z-depth-2">
        <div class="card lighten-4">
           Despesas
        <table class="centered striped ">
            <thead>
              <tr>
                  <th data-field="id">Data</th>
                  <th data-field="name">Descrição</th>
                  <th data-field="price">Valor</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat=" item in resultado_despesa">
                    <td>{{item.realizacao}}</td>
                    <td>{{item.descricao}}</td>
                    <td>{{item.valor}}</td>
                </tr>
            </tbody>
      </table>
        </div>
    </li>
</ul>
