<ul id="box_paciente" class="collapsible " data-collapsible="accordion">
    <li class="z-depth-2">
   
        
    </li>
    <li class="z-depth-2">
        <div class="card lighten-4">
             Receitas
        <table class="centered striped ">
            <thead>
              <tr>
                  <th data-field="id">Data</th>
                  <th data-field="name">Descrição</th>
                  <th data-field="price">Valor</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat=" item in resultado_receita | orderBy:'realizacao' ">
                    <td>{{item.realizacao| date : "dd/MM/yyyy"}}</td>
                    <td>{{item.unidade.nome!=null?item.unidade.nome:item.nome}}</td>
                    <td>{{item.valor| currency:"R$ "}}</td>
                </tr>
            </tbody>
      </table>
        </div>
    </li>
        <li class="z-depth-2">
        <div class="card lighten-4">
           Despesas
        <table class="centered striped ">
            <thead>
              <tr>
                  <th data-field="id">Data</th>
                  <th data-field="name">Descrição</th>
                  <th data-field="price">Valor</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat=" item in resultado_despesa | orderBy:'realizacao'">
                    <td>{{item.realizacao| date : "dd/MM/yyyy"}}</td>
                    <td>{{item.nome}}</td>
                    <td>{{item.valor| currency:"R$ "}}</td>
                </tr>
            </tbody>
      </table>
        </div>
    </li>
</ul>
