<ul id="box_paciente" class="collapsible " data-collapsible="accordion">
    <li class="z-depth-2">
        <div class="collapsible-header light-primary-color flow-text active">Nova receita</div>
        
        <div class="collapsible-body">
           <form name="userForm" ng-submit="gravarReceita()" required>
            <div class="card grey lighten-4">
                <div class="card-content">
                    <div class="row">

                        <div class="col s12 m6">
                            <div class="input-field">
                                <input id="nome" type="number" min="0" ng-model="receita.valor"
                                oninvalid="this.setCustomValidity('Informe o valor da receita')" 
                                oninput="setCustomValidity('')"
                                required

                                >
                                <label for="nome" class="flow-text">Valor</label>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field">
                                <input id="realizacao" type="text" class="datepicker" ng-model="receita.realizacao"
                                >
                                <label for="realizacao" class="flow-text">Data de recebimento</label>
                            </div>
                        </div>
                        <div class="col s12 m12">

                           <select  ng-model="receita.unidade.id" ng-options="o.nome for o in unidades"
                           >
                           <option value="">Origens diversas</option>
                           <option value="{{option.id}}">{{option.nome}}</option>;
                       </select>
                   </div>

                   <div class="col s12 m6">
                    <div class="input-field">
                        <select id="slct_separacao" ng-model="receita.separacaoContabil.id">
                            <option value="" >Separação contábil</option>
                            <option value="1">Ordinárias</option>
                            <option value="2">Fundo reserva</option>
                            <option value="3">Taxa extra</option>
                            <option value="4">Provisões</option>

                        </select>
                        <!-- <label for="slct_separacao" class="flow-text">Separação contábil</label> -->
                    </div>
                </div>
                <div class="col s12 m12">
                    <div class="input-field">
                        <input id="nome" type="text" class="validate" ng-model="receita.nome">
                        <label for="nome" class="flow-text">Observação</label>
                    </div>
                </div>
                <div class="col s12 m12" style="padding-top:5px">
                 <div ng-if="menssagem.exibir && menssagem.status !=200" style="text-align: center;" class="red lighten-4">
                   {{menssagem.texto}}
               </div>
               <div ng-if="menssagem.exibir && menssagem.status ==200" style=" color: green; text-align: center;" class="card blue lighten-4">
                   {{menssagem.texto}}
               </div>
           </div>
           <button class="btn btn-large right waves-effect wizard">
            Salvar
        </button>


    </div>
</div>
</form>
</div>

</li>
</ul>
