<div class="row margin-top-15">
  <div class="col s12">
    <div class="row" style="margin-bottom: 0;">
      <ul class="tabs" data-collapsible="accordion">
        <li class="tab">
          <a data-page="1" class="light-primary-color primary-text-color">Configuração</a>

        </li>
      </ul>
    </div>
    <div class="row">
      <form name="userForm" ng-submit="salvarConfiguracao()" required>
         <div class="col s12 m12" style="padding-top:5px">
         <div ng-if="menssagem.exibir && menssagem.status !=200" style="text-align: center;" class="red lighten-4">
           {{menssagem.texto}}
         </div>
         <div ng-if="menssagem.exibir && menssagem.status ==200" style=" color: green; text-align: center;" class="card blue lighten-4">
           {{menssagem.texto}}
         </div>
       </div>
        <div class="col s12 m12">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="col s12 m12">
                            <div class="input-field">
                                <input id="juros" type="text"  ng-model="configuracoes.juros" 
                                oninvalid="this.setCustomValidity('Campo obrigatório!')" oninput="setCustomValidity('')" required>
                                <label for="juros" class="flow-text">Taxa de juros (% mensal)</label>
                            </div>
                        </div>
                           <div class="col s12 m12">
                            <div class="input-field">
                                <input id="multa" type="text"  ng-model="configuracoes.multa" 
                                oninvalid="this.setCustomValidity('Campo obrigatório!')" oninput="setCustomValidity('')" required>
                                <label for="multa" class="flow-text">Multa (%)</label>
                            </div>
                        </div> 
                        <div class="col s12 m12">
                            <div class="input-field">
                               <select id="tipo" ng-model="configuracoes.rateioDespesas" 
                                oninvalid="this.setCustomValidity('Campo obrigatório!')" oninput="setCustomValidity('')" required>
                                <option value="false">Taxa fixa</option>
                                <option value="true">Rateio de despesas</option>
                            </select>
                                <label for="tipo" class="flow-text">Tipo</label>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <div class="input-field">
                                <input id="data" type="text" class="datepicker" ng-model="configuracoes.vencimento" 
                                oninvalid="this.setCustomValidity('Campo obrigatório!')" oninput="setCustomValidity('')" required>
                                <label for="data" class="flow-text">Data de vencimento</label>
                            </div>
                        </div>
                         <div class="col s12 m6">
                            <div class="input-field">
                               <input id="desconto" type="text"  ng-model="configuracoes.descontoPagamentoAntecipado" 
                                oninvalid="this.setCustomValidity('Campo obrigatório!')" oninput="setCustomValidity('')" required>
                                
                                <label for="desconto" class="flow-text">Desconto pagamento antecipado</label>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field">
                                <input id="nascimento" type="text" class="datepicker" ng-model="configuracoes.pagamentoAntecipado" 
                                oninvalid="this.setCustomValidity('Campo obrigatório!')" oninput="setCustomValidity('')" required>
                                <label for="nascimento" class="flow-text">Data de pagamento antecipado</label>
                            </div>
                        </div>
       
                    <div id="tab3" class="col s12 m12">
        <div onload="load_scripts_padrao();">
      </div>
      </div>
            
               <div class="row" style="padding-top:15px">
                 <button class="btn btn-large right waves-effect">
                  Salvar
                </button>  
              </div>
            </div>
          </li>
        </ul>
      </div>  
    </form>
  </div>   

</div>
</div>