<!-- <link rel="stylesheet" type="text/css" href="/lib/telessaude-dialog/telessaude-dialog.css" /> -->
<style type="text/css">
.card{
	margin: 0.5rem 0 1rem 0;
}

.card .card-content {
	padding: 10px;
}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col s12 m12">
			<ul class="collapsible" data-collapsible="accordion">
             <li>
              <div class="collapsible-header light-primary-color">
                 <div class="row">
               <!--     <select id="slct_ordem">
                      <option value="" disabled selected>Ordernar por</option>
                      <option value="nome">Nome</option>
                      <option value="inclusao">Inclusão</option>
                      <option value="tp_ocorrencia">Prioridade</option>
                  </select> -->
              </div>
          </div>
      </li>
  </ul>
</div>
<div class="col s12 m6" ng-repeat="not in listaNotificacoes track by not.id">
  <div class="card" ng-class="{'red lighten-4': not.tipoNotificacao.prioridade == 1, 
  'blue lighten-4': not.tipoNotificacao.prioridade != 1}">
  <div class="card-content">
   <div class="watermark">
      <i ng-class="{'mdi mdi-alert': not.tipoNotificacao.prioridade == 1, 
      'mdi mdi-information': not.tipoNotificacao.prioridade != 1}"></i>
  </div>
  <div class="row">
   <span class="truncate flow-text">{{not.descricao}}</span>
</div>
</div>
<div class="card-action">
   <button ng-click="openConfirm(not)" class="btn waves-effect right" style="width: 100%;" ng-class="{'red lighten-4': not.tipoNotificacao.prioridade == 1, 
   'blue lighten-4': not.tipoNotificacao.prioridade != 1}">
   <i style="font-size: 25px; float: right;" class="mdi mdi-forward dark-primary-text-color"></i>

</button>
<div class="clearfix"></div>
</div>
</div>
</div>

<script type="text/ng-template" id="modalDialogId">
<div class="ngdialog-message">
<h6 class="">Notificação:</h6>
<p>
{{notificacaoCompleta.descricao}}
</p>


<!-- 
            // <p>Confirm can take a value. Enter one here for example and see the console output: 
            // <input ng-model="confirmValue" />
            </p>
            -->
            </div>
       
            <div class="ngdialog-buttons">
            <!-- 
           // <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">Salvar</button> 
           -->
           <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Fechar</button>
           </div>
           </script>

       </div>
       <div class="row right">
        <a href="#/especialista" class="waves-effect btn-large accent-color margin-07">Voltar</a>
    </div>
</div>

<script type="text/javascript">
$.getScript('/resources/js/especialista/notificacoes.js');
$.getScript('/lib/telessaude-dialog/telessaude-dialog.js');
</script>
