<div class="row margin-top-15">
  <div class="col s12">
    <div class="row" style="margin-bottom: 0;">
      <ul class="tabs" data-collapsible="accordion">
        <li class="tab">
          <a data-page="1" class="light-primary-color primary-text-color">Nova solicitação</a>

        </li>
      </ul>
    </div>
    <div class="row">
      <form name="userForm" class="myForm" required>
    
        <div class="col s12 m12">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div>
                <div class="row"  style="padding-top:15px">

                  <div class="col s12 m12">
                    <select id="slct_ordem" name="select" ng-model="solicitacao.tipoNotificacao.id" oninvalid="this.setCustomValidity('Campo obrigatório')"
                      style="display: block;" required>
                      <option value="" selected>Selecione</option>
                      <option value="1">Barulho</option>
                      <option value="2">Manutenção </option>
                      <option value="3">Duvida calculos de taxas</option>
                      <option value="4">Duvida prestação contas</option>
                      <option value="5">Duvidas gerais</option>
                    </select>

                  </div>
                    <div ng-if="userForm.select.$invalid" class="isa_error" class="error">
                   * Informe o tipo da solicitação!
                  </div>
                  
                </div>
                <div class="row" style="padding-top:15px">

                  <div class="col s12 m12">
                    <div >
                      <textarea id="solicit" name="solicitacao"
                       placeholder="Digite sua solicitação aqui... (max. 1000 caracteres)"
                        maxlength="1000" type="text" style="height: 150px;"
                      ng-model="solicitacao.descricao" ng-minlength="10" required/>
                    </div>
                  </div>
                  <div ng-if="userForm.solicitacao.$invalid" style="color: red; background-color: #FEEFB3" class="error">
                   * Informe sua solicitacao!
                  </div>
                     <div ng-if="menssagem.exibir" class="isa_info" class="error">
                   {{menssagem.texto}}
                  </div>
                 <!-- <div ng-if="userForm.solicitacao.$minlength" style="color: red" class="error">
                   * Informe sua solicitacao!
                  </div> -->
               
                </div>
                <div class="row" style="padding-top:15px">
                 <button class="btn btn-large right waves-effect" ng-click="salvarSolicitacao()">
                  Salvar
                </button>  
              </div>
            </div>
          </li>
        </ul>
      </div>  
    </form>
  </div>   

</div>
</div>