<ul id="box_at_instr" class="collapsible" data-collapsible="accordion">
                <li class="z-depth-2">
                    <div class="collapsible-header active light-primary-color flow-text">Atividades instrumentais de vida diária</div>
                    <div class="collapsible-body grey lighten-4">
                        <div class="row">
                            <div class="col s12">
                                <p>
                                    <label class="flow-text">1) Por causa de sua saúde ou condição física, você deixou de fazer compras?</label>
                                </p>
                            </div>
                            <div class="col offset-s1 s11">
                                <input class="with-gap" name="wiz_a_1" ng-model="atividades_vd.deixou_de_fazer_compras" type="radio" id="wiz_a_1_sim" value="sim" />
                                <label for="wiz_a_1_sim" class="flow-text">Sim</label>
                                <input class="with-gap" name="wiz_a_1" ng-model="atividades_vd.deixou_de_fazer_compras" type="radio" id="wiz_a_1_nao" value="nao" />
                                <label for="wiz_a_1_nao" class="flow-text">Não</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p>
                                    <label class="flow-text">2) Por causa de sua saúde ou condição física, você deixou de controlar seu dinheiro, gastos ou pagar as contas de sua casa?</label>
                                </p>
                            </div>
                            <div class="col offset-s1 s11">
                                <input class="with-gap" name="wiz_a_2" ng-model="atividades_vd.deixou_de_controlar_dinheiro" type="radio" id="wiz_a_2_sim" value="sim" />
                                <label for="wiz_a_2_sim" class="flow-text">Sim</label>
                                <input class="with-gap" name="wiz_a_2" ng-model="atividades_vd.deixou_de_controlar_dinheiro" type="radio" id="wiz_a_2_nao" value="nao"/>
                                <label for="wiz_a_2_nao" class="flow-text">Não</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p>
                                    <label class="flow-text">3) Por causa de sua saúde ou condição física, você deixou de realizar pequenos trabalhos domésticos, como lavar louça, arrumar a casa ou fazer limpeza leve?</label>
                                </p>
                            </div>
                            <div class="col offset-s1 s11">
                                <input class="with-gap" name="wiz_a_3" ng-model="atividades_vd.deixou_de_fazer_trab_domesticos" type="radio" id="wiz_a_3_sim" value="sim" />
                                <label for="wiz_a_3_sim" class="flow-text">Sim</label>
                                <input class="with-gap" name="wiz_a_3" ng-model="atividades_vd.deixou_de_fazer_trab_domesticos" type="radio" id="wiz_a_3_nao" value="nao"/>
                                <label for="wiz_a_3_nao" class="flow-text">Não</label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul id="box_at_basica" class="collapsible" data-collapsible="accordion">
                <li class="z-depth-2">
                    <div class="collapsible-header light-primary-color flow-text">Atividades básicas de vida diária</div>
                    <div class="collapsible-body grey lighten-4">
                        <div class="row">
                            <div class="col s12">
                                <p>
                                    <label class="flow-text">Por causa de sua saúde ou condição física, você deixou de tomar banho sozinho?</label>
                                </p>
                            </div>
                            <div class="col offset-s1 s11">
                                <input class="with-gap" name="wiz_b_1" ng-model="atividades_vd.deixou_de_tomar_banho_sozinho" type="radio" id="wiz_b_1_sim" value="sim" />
                                <label for="wiz_b_1_sim" class="flow-text">Sim</label>
                                <input class="with-gap" name="wiz_b_1" ng-model="atividades_vd.deixou_de_tomar_banho_sozinho" type="radio" id="wiz_b_1_nao" value="nao" checked />
                                <label for="wiz_b_1_nao" class="flow-text">Não</label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
