
            <ul id="box_comprom_cognt" class="collapsible" data-collapsible="accordion">
                <li class="z-depth-2">
                    <div class="collapsible-header active light-primary-color flow-text">Comprometimento cognitivo</div>
                    <div class="collapsible-body grey lighten-4">
                        <div class="row">
                            <div class="col s12">
                                <p>
                                    <label class="flow-text">1) Algum familiar ou amigo falou que você está ficando esquecido?</label>
                                </p>
                            </div>
                            <div class="col offset-s1 s11">
                                <input class="with-gap" name="wiz_j_1" ng-model="cognicao_humor.relato_de_esquecimento" type="radio" id="wiz_j_1_sim" value="sim" />
                                <label for="wiz_j_1_sim" class="flow-text">Sim</label>
                                <input class="with-gap" name="wiz_j_1" ng-model="cognicao_humor.relato_de_esquecimento" type="radio" id="wiz_j_1_nao" value="nao" />
                                <label for="wiz_j_1_nao" class="flow-text">Não</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p>
                                    <label class="flow-text">2) Este esquecimento está piorando nos últimos meses?</label>
                                </p>
                            </div>
                            <div class="col offset-s1 s11">
                                <input class="with-gap" name="wiz_j_2" ng-model="cognicao_humor.esquecimento_piorando" type="radio" id="wiz_j_2_sim" value="sim" />
                                <label for="wiz_j_2_sim" class="flow-text">Sim</label>
                                <input class="with-gap" name="wiz_j_2" ng-model="cognicao_humor.esquecimento_piorando" type="radio" id="wiz_j_2_nao" value="nao" />
                                <label for="wiz_j_2_nao" class="flow-text">Não</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p>
                                    <label class="flow-text">3) Este esquecimento está impedindo a realização de alguma atividade do cotidiano?</label>
                                </p>
                            </div>
                            <div class="col offset-s1 s11">
                                <input class="with-gap" name="wiz_j_3" ng-model="cognicao_humor.esquecimento_impede_atividades" type="radio" id="wiz_j_3_sim" value="sim" />
                                <label for="wiz_j_3_sim" class="flow-text">Sim</label>
                                <input class="with-gap" name="wiz_j_3" ng-model="cognicao_humor.esquecimento_impede_atividades" type="radio" id="wiz_j_3_nao" value="nao" />
                                <label for="wiz_j_3_nao" class="flow-text">Não</label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul id="box_depressao" class="collapsible" data-collapsible="accordion">
                <li class="z-depth-2">
                    <div class="collapsible-header light-primary-color flow-text">Depressão</div>
                    <div class="collapsible-body grey lighten-4">
                        <div class="row">
                            <div class="col s12">
                                <p>
                                    <label class="flow-text">1) No último mês, você ficou com desânimo, tristeza ou desesperança?</label>
                                </p>
                            </div>
                            <div class="col offset-s1 s11">
                                <input class="with-gap" name="wiz_k_1" ng-model="cognicao_humor.desanimo_tristeza_ultimo_mes" type="radio" id="wiz_k_1_sim" value="sim" />
                                <label for="wiz_k_1_sim" class="flow-text">Sim</label>
                                <input class="with-gap" name="wiz_k_1" ng-model="cognicao_humor.desanimo_tristeza_ultimo_mes" type="radio" id="wiz_k_1_nao" value="nao" />
                                <label for="wiz_k_1_nao" class="flow-text">Não</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p>
                                    <label class="flow-text">2) No último mês, você perdeu o interesse ou prazer em atividades anteriormente prazerosas?</label>
                                </p>
                            </div>
                            <div class="col offset-s1 s11">
                                <input class="with-gap" name="wiz_k_2" ng-model="cognicao_humor.perda_interesse_atividades_prazerosas" type="radio" id="wiz_k_2_sim" value="sim" />
                                <label for="wiz_k_2_sim" class="flow-text">Sim</label>
                                <input class="with-gap" name="wiz_k_2" ng-model="cognicao_humor.perda_interesse_atividades_prazerosas" type="radio" id="wiz_k_2_nao" value="nao" />
                                <label for="wiz_k_2_nao" class="flow-text">Não</label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
