<ul id="box_condominio" class="collapsible " data-collapsible="accordion">
    <li class="z-depth-2">
        <div class="collapsible-header light-primary-color flow-text active">Unidades autonomas</div>
        <div class="collapsible-body">
            <div class="card grey lighten-4">
                <div class="card-content">
                   <form  ng-submit="salvarApartamentos()" >
                    <div class="row">

                       <div class="col s12 m6">
                        <div class="input-field">
                            <input id="idade" type="text"  ng-model="apartamento.nome" 
                                oninvalid="this.setCustomValidity('Campo obrigatório!')" oninput="setCustomValidity('')" required>
                            <label for="idade" class="flow-text">Descricao</label>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="input-field">
                            <input id="idade" type="number"  ng-model="apartamento.email" 
                                oninvalid="this.setCustomValidity('Campo obrigatório!')" oninput="setCustomValidity('')" required>
                            <label for="idade" class="flow-text">Email</label>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="input-field">
                            <input id="idade" type="number"  ng-model="apartamento.fracao">
                            <label for="idade" class="flow-text">Fração</label>
                        </div>
                    </div>
                    <div class="col s2" style="text-align: right;">
                        <button class="btn btn-large right waves-effect" ng-click="adicionarApartametno()">
                            Adicionar
                        </button>
                    </div>
                    <div class="col s12">
                        <table class="bordered striped">
                            <thead>
                                <tr>
                                    <th>Unidades adicionadas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tel in apartamentos track by tel.descricao">
                                    <td>{{tel.descricao}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <span ng-bind="tel.descricao"></span>
                    </div>

                    <button class="btn btn-large right waves-effect">
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</li>
</ul>
